
body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 50%;
  color: aliceblue;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: whitesmoke;
}

.finfin {
  width: 150px;
  height: 20px;
  padding: 10px;
  border-radius: 50px;
  margin: 15px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
  background-color: aliceblue;
  color: black;
  text-align: center;
}

.findmore {
  display: flex;
  justify-content: center;
}

.botao {
  width: 48px;
  height: 48px;
}

.botao {
  display: block;
  border-radius: 50px;
  background-color: aliceblue;
  padding: 15px;
  text-align: center;
  top: 10px;
  left: 30px;
  margin: 10px;
  position: absolute;
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.botao:hover {
  text-decoration: none;
  display: block;
  margin: 10px;
}

.botao:active {
  text-decoration: none;
}

.botao:visited {
  text-decoration: none;
}

img {
  width: 450px;
  height: 500px;
  margin: 30px;
  transition: all 1s;
}

img:hover {
  transform: scale(1.1); 
}

footer {
  color: aliceblue;
  display: flex;
  justify-content: flex-end;
}

p {
  width: 300px;
  height: 150px;
}

.text {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  color: aliceblue;
  margin: 10px;
}